$min-width-desktop: 800px;
$transition-time: 0.2s;

$nav-desktop-height: 100px;
$nav-mobile-height: 50vh;
$nav-hover-color: grey;
$nav-bcg-color: rgba(68, 58, 106, 0.2);
$link-margin-left: 25px;
$nav-bcg-color-mobile: rgb(197, 241, 178);
$link-margin-bottom-mobile: 20px;

$ham-pos-top: 50px;
$ham-pos-left: 20px;
$ham-width: 32px;
$ham-height: 16px;
$ham-item-height: 1.5px;
$ham-item-color: black;

