@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&family=Gluten:wght@700&family=Josefin+Sans:wght@300;400;500;600;700&display=swap');


$cuprum-ff: 'Cuprum', sans-serif;
$josefin-ff: 'Josefin Sans', sans-serif;
$gluten-ff: 'Gluten', cursive;

$max-app-width: 1800px;

$transition-time: .2s;

$min-width-s: 400px;
$min-width-m: 600px;
$min-width-l: 800px;

$border-color: #d1d1d1;
$border-color-dark: rgb(147, 147, 147);

$btn-mobile-margin: 6px;

$about-max-width: 800px;

$add-product-form-max-width: 500px;

$admin-panel-max-width: 300px;

$auth-max-width: 400px;
$auth-padding-vertical: 40px;
$auth-padding-horizontal: 40px;
$auth-inputs-margin: 20px;
$auth-error-color: rgb(184, 1, 1);

$btn-hover-color: #ffc43c;

$cart-content-max-width: 700px;

$cart-item-nr-of-size-s: 26px;
$cart-item-nr-of-size-l: 35px;
$cart-item-img-size-s: 90px;
$cart-item-img-size-l: 160px;
$cart-item-padding-xs: 8px;
$cart-item-padding-s: 20px;
$cart-item-padding-m: 26px;
$cart-item-padding-l: 40px;
$cart-item-margin-m: 16px;
$cart-item-remove-btn-size-s: 22px;
$cart-item-remove-btn-size-l: 30px;
$cart-item-nr-color: #5162e2;

$delete-product-title-margin: 30px;

$footer-height: 120px;
$footer-margin-top: 40px;

$ham-pos-top: 50px;
$ham-pos-left: 25px;
$ham-width: 32px;
$ham-height: 16px;
$ham-item-height: 1.5px;
$ham-item-color: black;

$icon-width: 20px;

$modal-max-width: 600px;
$modal-btn-max-width: 360px;
$modal-title-margin-vertical: 30px;

$nav-wrapper-bcg-color: white;
$nav-wrapper-height: 120px;
$nav-padding-mobile-top: 140px;
$nav-padding-mobile-bottom: 50px;
$nav-link-margin-left: 25px;
$nav-link-margin-bottom-mobile: 20px;
$nav-desktop-height: 130px;
$nav-hover-color: black;
$nav-color: #808080;
$nav-bcg-color: white;
$nav-bcg-color-mobile: #a5ff6d;
$nav-horizontal-margin: 40px;

$no-results-margin-top: 50px;

$products-gap-mobile: 20px;
$products-gap: 40px;
$product-width: 43vw;
$product-min-width: 160px;
$product-max-width: 360px;
$product-border-color: grey;
$product-margin-mobile-s: 4px;
$product-margin-s: 12px;
$product-margin-m: 18px;
$product-margin-l: 25px;
$product-space-between: 20px;
$product-text-padding: 10px;
$product-font-size-mobile: 0.8rem;
$product-font-size: 1rem;

$product-info-width: 100vw;
$product-info-max-width: 900px;
$product-info-padding-top-mobile: 30px;
$product-info-padding-top: 70px;

$search-input-height: 40px;
$search-input-max-width: 350px;
$search-input-bcg-hover: rgb(232, 232, 232);
$search-svg-color: invert(53%) sepia(3%) saturate(17%) hue-rotate(19deg) brightness(95%) contrast(88%);

@mixin box-shadow {
  -webkit-box-shadow: 0px 0px 8px -2px rgba(128, 128, 128, 1);
  -moz-box-shadow: 0px 0px 8px -2px rgba(128, 128, 128, 1);
  box-shadow: 0px 0px 8px -2px rgba(128, 128, 128, 1);
}

@mixin box-shadow-inset {
  -webkit-box-shadow: inset 0px 0px 6px -3px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: inset 0px 0px 6px -3px rgba(0, 0, 0, 0.83);
  box-shadow: inset 0px 0px 6px -3px rgba(0, 0, 0, 0.83);
}

@mixin button {
  padding: 12px 70px;
  margin-bottom: $product-margin-l;
  font-family: $cuprum-ff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid $border-color-dark;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: $transition-time;

  &:hover{
    background-color: $btn-hover-color;
  }
}

@mixin input {
  width: 100%;
  padding: 7px 5px;
  margin-bottom: $auth-inputs-margin;
  border: none;
  border-bottom: 1px solid $border-color-dark;
  outline: none;
  font-family: $josefin-ff;
  font-size: 1.2rem;
}

@mixin error-message {
  color: $auth-error-color;
  font-weight: 600;
  font-family: $cuprum-ff;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

@mixin page-min-height {
  min-height: calc(100vh - $nav-desktop-height - $footer-height - $footer-margin-top);
}