@import '../../sass/variables.scss';

.logo{
  position: absolute;
  top: 24px;
  left: 50%;
  width: 50px;
  transform: translate(-50%, 7px);
  cursor: pointer;
  z-index: 3;
  
  @media (min-width: $min-width-l){
    top: 20px;
    left: $nav-horizontal-margin;
    width: 80px;
    transform: translateX(0);
  }
}