@import '../../sass/variables.scss';


.admin-panel{
  width: 100%;
  max-width: $admin-panel-max-width;
  padding: 10px;

  &__link{
    @include button;
    width: 100%;
    display: block;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
  }
}