@import '../../sass/variables.scss';

.modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);

  &__form{
    @include box-shadow;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: $modal-max-width;
    padding: 20px;
    border: 1px solid $border-color;
    background-color: white;
  }

  &__title{
    flex-basis: 100%;
    text-align: center;
    margin-top: $modal-title-margin-vertical;
    margin-bottom:  $modal-title-margin-vertical;
    font-family: $josefin-ff;
    font-size: 1.6rem;
  }

  &__button{
    @include button;
    padding: 12px 10px;
    width: 100%;
    max-width: $modal-btn-max-width;
  }
}