@import '../../sass/variables.scss';

.cart-content{
  @include box-shadow;
  width: 90vw;
  max-width: $cart-content-max-width;
  margin: 0 auto;

  &__title{
    font-family: $josefin-ff;
    text-align: center;
    font-size: 2rem;
    padding: $cart-item-padding-s 0;

    @media (min-width: $min-width-l){
      font-size: 3rem;
    }
  }

  &__empty{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__empty-message{
    font-family: $cuprum-ff;
    padding: $cart-item-padding-l $cart-item-padding-s;
    text-align: center;
    font-size: 1.4rem;
  }

  &__go-to-shop{
    @include button;
    text-decoration: none;
    color: black;
  }

  &__summary-wrapper{
    border-top: 1px solid $border-color;
  }

  &__summary{
    font-family: $josefin-ff;
    text-align: center;
    font-size: 1.3rem;
    padding: $cart-item-padding-s 0;

    @media (min-width: $min-width-l){
      font-size: 1.8rem;
    }
  }
}