@import '../../sass/variables.scss';

.auth{
  width: 100%;
  max-width: $auth-max-width;
  padding: $auth-padding-vertical $auth-padding-horizontal;

  &__error{
    @include error-message;
  }

  &__input{
    @include input;
  }

  &__submit-btn{
    @include button;
    width: 100%;
  }
}