@import '../../sass/variables.scss';

.navbar-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-wrapper-height;
  background-color: $nav-wrapper-bcg-color;
  z-index: 3;
}

.navbar{
  position: fixed;
  left: -100vw;
  top: 0;
  width: 100%;
  padding-top: $nav-padding-mobile-top;
  padding-bottom: $nav-padding-mobile-bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $nav-bcg-color-mobile;
  z-index: 2;
  transition: transform $transition-time;

  &--active{
    transform: translatex(100vw);

    @media (min-width: $min-width-l){
      transform: translateY(0);
      transition: transform 0s;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @media (min-width: $min-width-l){
    position: relative;
    top: 0;
    left: 0;
    justify-content: flex-end;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $nav-desktop-height;
    padding-right: 100px;
    background-color: $nav-bcg-color;
  }

  &__link{
    margin-left: 0;
    margin-bottom: $nav-link-margin-bottom-mobile;
    outline: none;
    border: none;
    background-color: transparent;
    color: black;
    text-decoration: none;
    text-align: center;
    font-family: $cuprum-ff;
    font-size: 1.1rem;
    font-weight: 700;
    color: $nav-color;
    transition: color $transition-time;
    cursor: pointer;

    @media (min-width: $min-width-l){
      margin-left: $nav-link-margin-left;
      margin-bottom: 0;
    }

    &:hover{
      color: $nav-hover-color;
    }
  }

  &__link--cart{
    position: fixed;
    top: calc($ham-pos-top - 8px);
    right: $ham-pos-left;
    z-index: 10;

    @media (min-width: $min-width-l){
      position: absolute;
      top: $ham-pos-top;
      right: $nav-horizontal-margin;
    }
  }

  &__img{
    width: 30px;
  }

  &__cart-number{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -8px;
    right: -8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $cart-item-nr-color;
    color: white;
  }
}

